.THIS .imgicon-style-align{
    width: 20px;
    height: 19px;
    vertical-align: top;
    margin-left: -6px;
}


.THIS .invDatacontainertabledata a{color:#000;}
.THIS .invDatacontainertable a:hover{color:#EE1420!important;
    }

.THIS .icon-div{position: relative!important;}
.THIS .align-serch-icon{    
    position: absolute;
    top: 2px;
    right: 35px;}

.THIS .pageTxthead {
    font-weight: 600;
    width:40%
}
.THIS .pagiHead table td {
    padding: 6px 0px;
    
}
.THIS .tablelastColumn
{
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.THIS.invDatacontainer{
    padding-top:1px;
    background-color : white !important;
    position: relative;
    
}

.THIS .slds-nubbin_bottom-left:before, 
.THIS .slds-nubbin_bottom-left:after,
.THIS .slds-nubbin--bottom-left:before, 
.THIS .slds-nubbin--bottom-left:after, 
.THIS .slds-nubbin_bottom-left-corner:before, 
.THIS .slds-nubbin_bottom-left-corner:after
{
    background: #FFFABE;
}


.THIS .invDatacontainertablecontainer{
    padding-top:0px;
}

.THIS .invDatacontainertable{
    width:100%;
}

.THIS .invDatacontainertableheading{
    background-color:#808080;
    color:white;    
    padding: 10px 5px;
    text-transform: uppercase;
}


.THIS .invDatacontainertabledata{
    padding: 0px 5px;
    height: 42px;
}
.THIS .bottompagi button.slds-button.slds-button_brand {
    height: 20px;
    padding: 11px 10px;
}
.THIS table tr.selectedRowBackground td {
    background: #fffabe;
}
.THIS table tr.selectedRowBackground td {
    background-color: rgb(255, 250, 191);
}
.THIS table tr.selectedRowBackground td.invDatacontainertabledata:first-child {
  
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /*border-left: 4px solid #ffa700;*/
}
.THIS table tr.selectedRowBackground td.invDatacontainertabledata:last-child {
      border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.THIS .ordertablelastColumn{  
    background-color:#808080;
    color:white;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding:10px 5px;
    width:100px;
}

.THIS .ordertablefirstColumn{  
    background-color:#808080;
    color:white;
    padding: 5px;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width:2%;
}

.THIS .label-hidden > label {
    display: none;
}

.THIS .oddrow{
    background-color: whitesmoke;
}

.THIS .selectedRowBackground{
    background-color: rgb(255, 250, 191);
}


.THIS .greyColor{
    background-color:#808080;
    color:white;
    border-color:#808080;
}

.THIS .iconColorYellow svg {
    fill : yellow;
}

.THIS .emergencyorderMessage .slds-icon-action-approval {
    background-color: green;
}

.THIS .action-superssion_orange {
    width: 30px;
    height: 30px;
    text-align: center;
    background: orange;
    color: white;
    vertical-align: middle;
    font-size: large;
}

.THIS .action-volumn_green {
    width: 30px;
    height: 30px;
    text-align: center;
    background: green;
    color: white;
    vertical-align: middle;
    font-size: large;
}

.THIS .action-volumn_red {
      width: 26px;
    padding: 0px;
    margin: 0px;
    height: 24px;
    text-align: center;
    background: red;
    color: white;
    vertical-align: middle;
    font-size: 14px;
    border-radius: 3px
}
.THIS .svgIcon svg {
    fill: #0194c5;
}
.THIS div .tooltip {
    display:inline-block;
}
.THIS tr:nth-child(odd) {
    background: #fff;
}
.THIS tr:nth-child(even) {
    background: #fafafa;
}
.THIS .tooltip span {
    display: none;
    font-weight:normal;
    text-align:left;
    padding: 3px 5px;
    margin-left: 8px;
    width: 250px;
    
}

.THIS .lbl-txt{
    padding: 3px;
    margin-right: 8px;
    font-size: 16px;
   color: #9f9f9f!important;
    font-family: 'RobotoMedium'!important;
}
.THIS .help-txt{
    vertical-align: top;
    padding-right: 3px;
}

.THIS .slds-button:focus {
    outline: 0px;
    box-shadow: none;
}
.THIS .help-txt .slds-button__icon{    
    width: 16px;
    height: 16px;
    vertical-align: super;
    margin-right: 4px;} 

.THIS .reset-size .slds-button__icon{
    width: 18px;
    height: 17px;
    vertical-align: baseline;}

.THIS .slds-popover_tooltip-help{
   background: #fff6b2!important;
    top: -64px!important;
    box-shadow: 0 1px 1px 0px #ffbc26!important;
    border-radius: 6px!important;}

/*.THIS .slds-tooltip{position:relative;width:20rem; min-height:2rem; z-index:6000;}*/
/*.THIS .slds-modal__container{width:42%!important;
    min-width:42%!important;}*/

.THIS .slds-popover_tooltip{background:#e7fee7!important;top: -64px!important;
    box-shadow: 0px 1px 2px 1px #83bc85!important;
    border-radius: 6px!important;}
.THIS .slds-popover__body{color:#000!important;width: 9rem;}
.THIS .slds-nubbin_bottom-right:after{display:none!important;}
.THIS .slds-nubbin_bottom-right::before{display:none!important;}
.THIS .tooltip:hover span {
    display: inline;
    position: relative;
    color: #000000;
    z-index:10000;
}

.THIS .textalignbottom {
    vertical-align: text-bottom;
}

.THIS .selectedOrderText {
    width:170px;
    font-size: 14px;
    padding: 8px 11px!important;
}

.THIS .placeOrderText {
    width:115px;
}

.THIS .emOrderText {
    width:167px;
}

.THIS .soOrderText {
    width:130px;
}

.THIS .leadTimeText {
    width:8%;
}

.THIS .stkText {
    width:6%;
}
.THIS .onorderText {
    width:8%;
}

.THIS .todaycartText {
    width:12%;
}
.THIS table td .slds-input {
    height: 20px;
    padding: 2px;
    line-height: 20px;
    min-height: 25px;
    text-indent: 5px;
    color:#636a6a!important;
}
.THIS .todaycartText {
    width:12%;
}

.THIS .descriptionText {
    width:17%;
}

.THIS .partsText {
    width:15%;
}

.THIS .inputTextMaxWidth {
    max-width: 237px;
    min-width: 237px;
}

.THIS .greenClrAction {
    min-width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: #00DE40;
    color: white;
    margin: 5px;
}

.THIS .redClrAction {
    min-width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: #FF0000;
    color: white;
    margin: 5px;
}

.THIS .yellowClrAction {
    min-width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    margin: 5px;
    display: inline !important; 
}

.THIS .pinkClrAction {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: #FF7C7C;
    color: white;
    margin: 5px;
}

.THIS .popheading {
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.THIS .iconcolr svg{
    fill: red !important; 
    color : red !important;
}

.THIS .icn svg{
 fill: #7FFF00; 
   
}

.THIS .icon svg{
 fill: #FF0000; 
   
}


.THIS .leftpd{
    padding-left:20px !important;
}

.THIS .bckGdWhite{
    background: #FFFFFF;
}

.THIS.fixedPosition {
    position: fixed !important;
}

.THIS .tooltiptext{
  visibility: hidden;
}

.THIS .cTooltip:hover .tooltiptext{
  visibility: visible;
   
}

/*.THIS .slds-modal__container{margin: 0 auto;
    width:47%;
    min-width:47%;}*/
.THIS .slds-modal__close{ 
    top: 1.4rem;
    z-index: 999;
    right: 1.7rem;}
.THIS .slds-modal__header .slds-icon {
    width: 25px!important;
    height: 25px!important;
    fill: red!important;}
.THIS .slds-modal__footer{display:none!important;}