.THIS {
}

.THIS .wid-select{width:90px!important;}

.THIS .slds-input {
    font-size: xx-large !important;
}

.THIS .eo-card_size {
    width:100%;    
}

.THIS .eo-card-body-inner_size {
    height:100%;
}

.THIS .eo-card-body-inner_header {
    width:100%;
    height:20%;
}

.THIS .eo-card-body-inner_header_span {
    font-size: small;
}

.THIS .eo-card-body-inner_content {
    width:100%;
    height:50%;
    display:flex;
}
.THIS .tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    white-space: nowrap; /* Prevent line breaks */
    right:0;
}
.THIS .eo-card-body-inner_content_font {
    align-self: flex-end;
    font-size: x-large;
}

.THIS .eo-card-body-inner_footer {
    width:100%;
    height:30%;
}

.THIS .eo-card-body-inner_footer {
    width:100%;
    height:30%;
}

.THIS .options:hover {
    background: #FFF6B2;
	cursor: pointer !important;    
}

.THIS .options {
    padding: 4px 4px 8px 4px;   
	cursor: pointer !important;
    text-align: center;
    border-radius: 6px;
    width: 32px;
}

.THIS .selected{
    background: #FFF6B2;
    border-radius: 4px;
    /* padding: 3px 2px;*/
    color: #696767;
}
.THIS .valuestyle{
    color:#77c572;
    font-size: smaller;
}

.THIS .textstyle{
    color: #737373;
    font-size: smaller;
}

/*****/
.THIS .tile{
    background: #fff !important;
    width:  100% !important;
    height: 165px !important;
    padding: 5px 10px !important;
    /*box-shadow: 0px 1px 3px 2px #e4e4e4 !important;*/
    border-radius: 6px !important;
    margin: 0px 0px 11px 0px; 
}

.THIS .gridHeight{
	height:100px;
}

.THIS .tileName_Div{
	width:100%;
    height:20%;
}

.THIS .heading{
    color:#9F9F9F;
    /*roboto medium*/
    font-family: 'RobotoMedium' !important;
    /*roboto medium end*/
    font-size:12px;
}

.THIS .tileInfo_Div{
	width:100%;
    height:75px;
    display:flex;
}

.THIS .greenTextb {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    color: #27C321;
}
.THIS .greenTextbNP {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    color: #27C321;
}
.THIS .greenTextb:hover 
{
    color: #60dd97;
    cursor: pointer;
    text-decoration: underline;
}
.THIS .redTextb {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    color: #ff0000;
}

.THIS .blackTextb {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    color: black;
}
.THIS .blackTextb:hover {
    color: #958c8c;
    cursor: pointer;
    text-decoration: underline;
}
.THIS .unOrderedList {
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 12px;
    text-align: center;
    position: relative;
    float: right;
    margin-top: -2px;
    color: #C6C6C6;
}

.THIS .greenTexts {
    color: #27C321;
    /*roboto medium*/
    font-family: 'RobotoMedium' !important;
    /*roboto medium end*/
    font-size: 13px;
    position: relative;
    top: 70%;
    font-weight: 600;
}
.THIS .redTexts {
    color: #ff0000;
    /*roboto medium*/
    font-family: 'RobotoMedium' !important;
    /*roboto medium end*/
    font-size: 13px;
    position: relative;
    top: 70%;
    font-weight: 600;
}

.THIS .greenArrow svg {
    fill : #33cc00;
}

.THIS .redArrow svg {
    fill : red;
}


.THIS .fontSize {
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 10px;
    color: #b2b2b2;
}

.THIS .top_Margin {
    margin-top: 2%;
}

.THIS .infoTextIconPosition {
    position: absolute; /* Needed for absolute positioning of tooltip */
    display: inline-block; /* Allows tooltip to position correctly */
    right:12px;
}

.THIS .infoTextIconPosition svg {
    fill: #5b9bf2;
    width:15px;
}

.THIS .infoTextIconPosition:hover .tooltip {
    display: block;
}

.THIS .supHead
{
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 20px;
    vertical-align: super;
    color: #716c6c;
    font-weight: 600;
}

.THIS .floatRight{
    float: left;
    margin-top: -5px;
    margin-left: 14px;
}

.THIS .hideLabel > label { 
	display:none;
}

.THIS sup {
    top: 0.3em !important;
    font-weight: 600;
}

/* for roboto regular*/
@font-face {
   font-family: 'RobotoRegular';
   src: url(/resource/RobotoRegular); 
}
/* for roboto regular*/

/* for roboto medium*/
@font-face {
   font-family: 'RobotoMedium';
   src: url(/resource/RobotoMedium); 
}
/* for roboto medium end*/

.THIS .imgicon-style-align{
    width: 20px;
    height: 19px;
    vertical-align: top;
    margin-left: -6px;
}
@media (max-width: 1050px)
{
.THIS .greenTextb, 
.THIS .blackTextb,
.THIS .redTextb {
    font-size: 25px!important;
    vertical-align: baseline;
}
    .THIS sup {
        top: 0.3em!important;
        font-size: 12px;
    }
}
@media(max-width:1024px) {
    .THIS .greenTextb, 
.THIS .blackTextb,
.THIS .redTextb {
    font-size: 25px!important;
    vertical-align: baseline;
}
    .THIS sup {
        top: 0.3em!important;
        font-size: 12px;
    }
    
}
@media(max-width:1366px) {
    .THIS .greenTextb, 
.THIS .blackTextb,
.THIS .redTextb {
    font-size: 25px!important;
    vertical-align: baseline;
}
    .THIS sup {
        top: 0.3em!important;
        font-size: 12px;
    }
    
}
.THIS .disabledEvent{
    opacity: unset!important;
    pointer-events: none;
}