.THIS {
}


.THIS .twenty-order-comfirm{ width:20%!important;}
.THIS .fourty-order-update{width:40%!important;}
.THIS .fifty-order-update{width:50%!important;}
.THIS .sixty-per{width:60%!important;}
.THIS .eighty-part-shipped{width:80%!important;}
.THIS .eightysix-transit{width:89%!important;}
.THIS .hundread-delivered{width:100%!important;}