.THIS .imgicon-style-align{
   width: 20px;
    height: 19px;
    vertical-align: top;
    margin-left: -6px; 
}

.THIS .slds-input {
    font-size: xx-large !important;
}

.THIS .eo-card_size {
    width:100%;    
}

.THIS .eo-card-body-inner_size {
    height:100%;
}


.THIS .orange {
    color:#ffbc26
}

.THIS .eo-card-body-inner_header {
    width:100%;
    height:20%;
}

.THIS .eo-card-body-inner_header_span {
    font-size: small;
}

.THIS .eo-card-body-inner_content {
    width:100%;
    height:50%;
    display:flex;
}

.THIS .eo-card-body-inner_content_font {
    align-self: flex-end;
    font-size: x-large;
}

.THIS .eo-card-body-inner_footer {
    width:100%;
    height:30%;
}

.THIS .eo-card-body-inner_footer {
    width:100%;
    height:30%;
}

.THIS .options:hover {
    /*background: #FFF6B2;
	cursor: pointer !important;   */
   background: #fff6b2;
    cursor: pointer!important;
    color: #696767;
}

.THIS .options {
    padding: 4px 4px 6px 4px;   
	cursor: pointer !important;
    text-align: center;
    border-radius: 6px;
}

.THIS .selected{
    /*background: #FFF6B2;*/
   background: #fff6b2;
    border-radius: 4px;
    color: #696767;
    
}

.THIS .eo-unOrderedList {
    font-size: 12px;
    text-align: center;
}

.THIS .valuestyle{
    color:#77c572;
    font-size: smaller;
}

.THIS .textstyle{
    color: #737373;
    font-size: smaller;
}

/*****/
.THIS .tile{
    background: #fff !important;
    width:  99% !important;
    height: 185px !important;
    padding: 5px 10px !important;
    box-shadow: 0px 1px 3px 2px #e4e4e4 !important;
    border-radius: 6px !important;
    margin: 6px 4px;
    transition: box-shadow 0.3s ease-in-out;
}

.THIS .tile:hover{box-shadow: 0 1px 5px rgba(0,0,0,0.3)!important;border:1px solid #DA93FF!important;}

.THIS .gridHeight{
	height:100px;
}

.THIS .tileName_Div{
	width:100%;
    height:20%;
}

.THIS .heading{
    /*roboto medium*/
    font-family: 'RobotoMedium' !important;
    /*roboto medium end*/
    color:#9F9F9F;
    font-size:12px;
}

.THIS .tileInfo_Div{
	width:100%;
    height:75px;
    display:flex;
}

.THIS .mr-right{padding-left: 1rem;}
.THIS .greenTextb {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    color: #27c321;
    top: 55%;
    
}
.THIS .blackTextb {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    color: black;
    top: 55%;
    
}
.THIS .greenArrow svg {
    fill : #33cc00;
}
.THIS .redArrow svg {
    fill : red;
}

.THIS .greenTexts {
    color: #27C321;
    /*roboto medium*/
    font-family: 'RobotoMedium' !important;
    /*roboto medium end*/
    font-size: 14px;
    position: relative;
    top: 70%;
    font-weight: 400;
}
.THIS .redTexts {
    color: #ff0000;
    font-family: 'RobotoMedium'!important;
    font-size: 14px;
    position: relative;
    top: 70%;
    font-weight: 400;
}
.THIS .unOrderedList {
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 12px;
    text-align: center;
    position: relative;
    margin-top: -3px;
    color: #C6C6C6;
}

.THIS .supHead
{
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 20px;
    vertical-align: super;
    color: #716c6c;
    font-weight: 600;
}
.THIS .top_Margin {
    margin-top: 6%;
}

/* for roboto regular*/
@font-face {
   font-family: 'RobotoRegular';
   src: url(/resource/RobotoRegular); 
}
/* for roboto regular*/

/* for roboto medium*/
@font-face {
   font-family: 'RobotoMedium';
   src: url(/resource/RobotoMedium); 
}
/* for roboto medium end*/

.THIS .imgicon-style-align{
    width: 20px;
    height: 19px;
    vertical-align: top;
    margin-left: -6px;
}

.THIS .pad-chart-title{padding-top:8px!important;padding-bottom:9px!important;}
.THIS .chart-wrap{margin: 0 auto;}
.THIS .align-time-text{
    position: absolute;
    bottom: -26px;
    text-align: center;
    display: block;
    width: 100%;
    color: #9f9f9f;
    font-family: 'RobotoMedium'!important;
    font-size: 12px;
}

.THIS .pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0% 3%;
}

.THIS .pie-value {
  display: block;
  position: absolute;
  font-size: 18px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
  color: #000;
  font-family: 'RobotoRegular'!important;
  font-size: 28px;
  font-weight: bold;
}


.THIS .chart-wrap {
    margin-top: 15px;
}

@media (max-width: 1050px) {
  .THIS .pie-title-center canvas {
     	width: 75px;
        height: 75px;
    }
    .THIS .chart-wrap {
        margin-top: 30px;
    }
	.THIS .pie-value {
        font-size: 18px;
    }   
}

@media (max-width:767px) {
	.THIS .pie-value {
        font-size: 16px;
    }
}

@media(max-width:1366px) {
    .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
    
}
@media (max-width: 1300px) {
   .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
    
    
}
@media (max-width: 1050px)
{
.THIS .greenTextb, 
.THIS .greenTextbNP,
.THIS .blackTextb,

.THIS .redTextb {
    font-size: 25px!important;
    vertical-align: baseline;
}
}
@media(max-width:1024px) {
    .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
    
}