.THIS {
}

.THIS .slds-input {
    font-size: xx-large !important;
}

.THIS .eo-card_size {
    width:100%;    
}

.THIS .eo-card-body-inner_size {
    height:100%;
}

.THIS .eo-card-body-inner_header {
    width:100%;
    height:20%;
}

.THIS .eo-card-body-inner_header_span {
    font-size: small;
}

.THIS .eo-card-body-inner_content {
    width:100%;
    height:50%;
    display:flex;
}

.THIS .eo-card-body-inner_content_font {
    align-self: flex-end;
    font-size: x-large;
}

.THIS .eo-card-body-inner_footer {
    width:100%;
    height:30%;
}

.THIS .eo-card-body-inner_footer {
    width:100%;
    height:30%;
}

.THIS .options:hover {
    background: #FFF6B2;
	cursor: pointer !important;    
}

.THIS .options {
    padding: 1px 1px 2px 1px;   
	cursor: pointer !important;
    text-align: center;
    border-radius: 4px;
}

.THIS .selected{
    background: #FFF6B2;
    border-radius: 4px;
        padding: 3px 10px;
    color: #696767;
}

.THIS .eo-unOrderedList {
    font-size: 12px;
    text-align: center;
}

.THIS .valuestyle{
    color:#77c572;
    font-size: smaller;
}

.THIS .textstyle{
    color: #737373;
    font-size: smaller;
}

/*****/
.THIS .tile{
    background: #fff !important;
    width:  99% !important;
    height: 165px !important;
    padding: 5px 10px !important;
   /* box-shadow: 0px 1px 3px 2px #e4e4e4 !important;*/
    border-radius: 6px !important;
    margin: 0px 0px 11px 0px; 
}

.THIS .gridHeight{
	height:100px;
}

.THIS .tileName_Div{
	width:100%;
    height:20%;
}

.THIS .heading{
    /*roboto medium*/
    font-family: 'RobotoMedium' !important;
    /*roboto medium end*/
    color:#636a6a!important;
    font-size:12px;
}

.THIS .tileInfo_Div{
	width:100%;
    height:75px;
    display:flex;
}

.THIS .greenTextb {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    
    color: #27C321;
    
    top: 15%;
}
.THIS .greenTextbNP {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    
    color: #27C321;
    
    top: 15%;
}
.THIS .greenTextb:hover 
{
    color: #60dd97;
    cursor: pointer;
    text-decoration: underline;
}
.THIS .redTextb:hover {
    color: #ff6c6c;
    cursor: pointer;
    text-decoration: underline;
}
.THIS .redTextb {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    color: #ff0000;
    
    top: 15%;
}
.THIS .redTextbNP {
    position: relative;
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 40px;
    color: #ff0000;
    
    top: 15%;
}

.THIS .unOrderedList {
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 7%;
    color: #C6C6C6;
}


.THIS .supHead
{
    font-size: 20px;
    vertical-align: top;
    color: #716c6c;
    padding-top: 22px;
    font-weight: 600
}

.THIS .sideText {
    font-size: 17px;
    color: black;
    font-weight: 500;
    margin-left: 4px;
}

.THIS .bottom_Div{
    width:100%;
    line-height: 20px;
    color: #c6c6c6;
    font-size: 12px;
}

.THIS .fontSize {
    /*roboto regular*/
    font-family: 'RobotoRegular'!important;
    /*roboto regular end*/
    font-size: 10px;
    color: #C6C6C6;
}

.THIS .floatRight{
    float:right;
}

.THIS .top_Margin {
    margin-top: 6%;
}

.THIS .imgicon-style-align{
    width: 20px;
    height: 19px;
    vertical-align: top;
    margin-left: -6px;
}

/* for roboto regular*/
@font-face {
   font-family: 'RobotoRegular';
   src: url(/resource/RobotoRegular); 
}
/* for roboto regular*/

/* for roboto medium*/
@font-face {
   font-family: 'RobotoMedium';
   src: url(/resource/RobotoMedium); 
}
/* for roboto medium end*/




@media (max-width: 1050px)
{
 .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
}
@media(max-width:1024px) {
    .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
    
}
@media(max-width:1366px) {
    .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
    
}


@media(max-width:1366px) {
    .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
    
}
@media (max-width: 1300px) {
   .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
    
    
}
@media (max-width: 1050px)
{
.THIS .greenTextb, 
.THIS .greenTextbNP,
.THIS .blackTextb,
  .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
}
@media(max-width:1024px) {
    .THIS .greenTextb, 
    .THIS .greenTextbNP,
.THIS .blackTextb,
    .THIS .blackTextbNP,
    .THIS .redTextb,
.THIS .redTextbNP {
    font-size: 25px!important;
    vertical-align: baseline;
}
    
}