.wrapped-content {
  word-break: break-all;
  width: 100px;
}

.heading {
    background-color:#808080;
    color:white;    
    padding: 10px 5px;
    text-transform: uppercase;
}

.data {
    padding: 0px 5px;
    height: 42px;
}

.custom-comment-cell {
    max-width: 300px;
  	/* white-space: nowrap; */
	/* height: 100px; */
    overflow: auto;
    /* overflow-wrap: break-word; */
}